* {
  box-sizing: border-box;
  padding: 0;
}
.heroSection {
  background-color: #f0a83e;
}

.header {
  background-color: #f0a83e;
}

.derechos {
  text-justify: center;
}
button {
  margin-bottom: 20px;
}
h1 {
  display: inline;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
